.legend {color: #fff; display: none; font-family: arial; font-size: 16px; position: absolute; left: 0; background: rgba(0,0,0,0.5); padding: 10px; z-index: 20000000; bottom: -16px; right: 0;}
.legend a { color: #1D56A2; }

.motherFucky {position: relative; overflow: hidden; display: none;}
.motherFucky img {position: absolute; top: 0;}

#controlMotherFucky {position: absolute; z-index: 200; right: 20px; top: 0;}
#controlMotherFucky li{ cursor: pointer; list-style: none; float: left; width: 8px; height: 8px; border-radius: 100%; background: #FFF; margin: 0 2px; text-indent: -9999999px; border: double 4px #333;}
.ativoControl { background: #555!important; border-color:#fff!important; }

